.success {
  color: var(--success-color);
  border: 1px solid var(--success-color);
  border-radius: 5px;
  min-height: 20px;
  padding: 5px;
}

.error {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: 5px;
  min-height: 20px;
  padding: 5px;
}

.update {
  color: var(--update-color);
  border: 1px solid var(--update-color);
  border-radius: 5px;
  min-height: 20px;
  padding: 5px;
}
